<div style="text-align:right;margin-right:10px;">
  <a href="#Top">Back to top</a>
</div>

<div class="footer">
  <span class="glyphicon glyphicon-copyright-mark"></span> Maxime Marck | 
    Find me on 
    <a href=""><img src="/assets/icons/glyphicons_social_21_github.png" /></a> -
    <a href=""><img src="/assets/icons/glyphicons_social_17_linked_in.png" /></a> -
    <a href=""><img src="/assets/icons/glyphicons_social_31_twitter.png" /></a> |
     Subscribe:     <a href="/Feed.xml"><img src="/assets/icons/glyphicons_social_37_rss.png" /></a>
</div>
         