        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Maxime Marck</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li> <a {% if p.url == page.url %}class="active"{% endif %} href="/">
                  <span class="glyphicon glyphicon-home" /> Home</a></li>
                <li>  <a {% if p.url == page.url %}class="active"{% endif %} href="/Blog">
                  <span class="glyphicon glyphicon-bullhorn" /> Blog</a></li>
                <li>  <a {% if p.url == page.url %}class="active"{% endif %} href="/Resume">
                  <span class="glyphicon glyphicon-briefcase" /> Resume</a></li>
                <li>  <a {% if p.url == page.url %}class="active"{% endif %} href="/About">
                  <span class="glyphicon glyphicon-user" /> About me</a></li>
                   </ul>
              </div>
              
          </div>
        </div>